*{
    margin: 0%;
    padding: 0%;
    font-family: 'DM Sans', sans-serif;
}

.home{
    background-color:#eee3dc;
    border-bottom: 1px solid #eee3dc;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    
}
.header> ul{
    width: 80dvw;
    /* border: 2px solid black; */
    display: inline-flex;
    justify-content:center;
    /* border-bottom:0.1px solid black; */

}
.header>ul>h4{
    color: #65350F;
    font-size: larger;
    display: inline-flex;
  margin-right: 40dvw;
    margin-left: 5dvw;
    
}
.header>ul>li>a{
    font-weight:550;
    text-decoration: none;
    color: #65350F;
}
.header>ul>li{
    margin-left: 2dvw;
    
    list-style-type: none;
}

.header{
    position: fixed;
    top: 0;
    background-color: #ecac74;
    width: 100dvw;
    padding: 2dvh;
    /* border: 2px solid red; */
}
.intro > h1{
    display: block;
    width: 40dvw;
    padding-top: 8svh;
}
.intro > h2{
    display: block;
    width: 48dvw;
    
}
.intro{
    margin: 50px;
    width: 85dvw;
    height: 100%;
   
}
.intro>h2>button{
    display: block;
    margin: auto;
    width:16svw;
    font-size: medium;
    font-weight: 600;
    color: white;
    background-color: #6f2a3b;
    border: 1px ;
    border-radius: 10px;
    height: 6svh;
    margin-top: 5svh;
}

#img{
    /* display: flex; */
    float:right;
    width: 20dvw;
    height: 38dvh;
padding-top: 3svh;
}
.clients>h1{
    display: flex;
    justify-content: center;
    margin-top: 15dvh;
}
.clients>ul>li{
    display: inline-flex;
    justify-content: center;
    width: 14svw;
    height: 14svh;
    margin-top: 5dvh;
    padding-bottom: 10svh;
}
.About{
    background-color:#eee3dc;
    border-bottom: 1px solid #eee3dc;
    padding-top: 5svh;
   border-radius: 60px;
}
.text-about{
    display: flex;
    justify-content: center;
    text-align:left;
    font-size: large;
    margin: 10vh 5vw 5vw;
    
}
.shop{
     margin-top: 5svh;
    background-color:#eee3dc;
    border-bottom: 1px solid #eee3dc;
    padding-top: 5svh;
   padding-bottom: 10svh;
    border-radius: 60px;
}
.shop>h1{
    display: flex;
    justify-content: center;
}


.buy{
    margin-top: 4svh;
    width: 8svw;
    height: 5svh;
    background-color: #00a86b;
    font-size: medium;
    font-weight: bold;
    border-radius: 20px;
    margin-left:0;
}

.buy:hover{
     margin-top: 4svh;
    width: 8svw;
    height: 5svh;
   color: #00a86b;
   background-color: #ffffff;
    font-size: medium;
    font-weight: bold;
    border-radius: 20px;
    margin-left:0;
}

.addtocart{
    margin-top: 4svh;
    width: 8svw;
    height: 5svh;
    margin-left: 3svw;
    font-size: medium;
    font-weight: bold;
    color: #000000;
    background-color: #ff9900;
    border-radius: 20px;
}

.addtocart:hover{
    margin-top: 4svh;
    width: 8svw;
    height: 5svh;
    margin-left: 3svw;
    color: #ff9900;
    background-color: #ffffff;
    border-radius: 20px;
}

#p1>img,#p2>img,#p3>img,#p4>img{
    margin-top: 20px;
margin-left: 20px;
}

#p1>h3,#p2>h3,#p3>h3,#p4>h3{
    margin-top: 5svh;
}
#p1,#p2,#p3,#p4{
    align-items: center;
    margin-top: 100px;
    margin-left: 250px;
    background-color: white;
    text-align: center;
border:1px solid rgb(247, 247, 247);
border-radius: 20px;
width:320px;
height: 420px;
box-shadow:6px 6px 5px #a39c97,5px 5px 5px #726e6e inset ;
}
.row1{
    display: inline-flex;
    
}
.row2{
    display: inline-flex;
}
.contact{
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 5svh;
    background-color:#eee3dc;
    border-bottom: 1px solid #eee3dc;
    padding-top: 5svh;
   padding-bottom: 10svh;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
}
.contact>h1{
    grid-column: 3;
}
.contact>form{
    grid-row: 2;
    grid-column: 3;
    width: 20svw;
    padding: 25px;
    height: fit-content;
    border: 1px solid #a8eed4;
    background-color: #aee9d4;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 3px 3px 4px #000000;
}
.contact>form>input{
    width: 230px;
    height:20px;
    border-radius: 5px;
}
.contact>form>textarea{
    width: 230px;
    
    border-radius: 5px;
}
.contact>form>:nth-child(3),
.contact>form>:nth-child(7),
.contact>form>:nth-child(11){
    margin-bottom: 10px;
}
.contact>form>:nth-child(13){
   display: block;
    margin: auto;
    width: 6svw;
    height: 4svh;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    border: 3px solid #0cae73;
    color: #eee3dc;
    background-color: #09c580;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vsw;
    height: 15svh;
    background-color: #ecac74;
}
