* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .sidebar {
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 20px;
    width: 20%;
    height: 100vh;
    position: fixed;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar img {
    margin-top: 0;
    width: 80%;
    height: 35%;
    border-radius: 15%;
    object-fit: cover;

}
  
  .sidebar h3 {
    color: white;
    font-size: 20px;
    margin: 10px;
  }
  .sidebar :nth-child(3){
   
    font-weight: 300;
  }
  .sidebar .logos{
  
    background-color: transparent;
    border:2px solid rgb(255, 255, 255);
    border-radius: 50%;
    color: white;
    height: 50px;
    width: 50px;
    
  }
 .logos a{
  color: white;
 }
  .sidebar .logos:hover{
    border:2px solid #00a86b;
    color: #00a86b;
  }
  .sidebar button {
    
    width: 80%;
    height: 5%;
    margin: 10px;
    border: none;
    border-radius: 25px;
    background-color: #00a86b;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }

  .sbbtn{
    text-decoration: none;
    color: white;
  }
  .sbbtn:hover{
    
    text-decoration: none;
    color: white;
  }
  .content {
    width: 100%;
   
    display: flex;
    flex-direction: column;
     align-items: center;
    justify-content: center;
  }
  
  .content h1 {
    color: white;
    font-size: 40px;
   
  }
  
  .content h2 {
    color: rgb(218, 207, 207);
    font-size: 30px;
    margin-left:6svw ;
    margin-top: 6svh;
  }
  
  .content p {
    color: white;
    font-size: 20px;
  }
  
  span {
    color: #00a86b;
    font-weight: bold;
  }
  .content h1{
    margin-top: 0%;
    margin-left: 10%;
    font-size: 70px;
    margin-top: 6svh;
  }
#introbtn{
    margin-left: 25svw;
    margin-top: 20svh;
    background: transparent;
    padding: 1svh;
    color:#bcbaba;
    border-radius: 25px;
    border: 1px solid #bcbaba;
  }
  .resume{
    margin-left: 25svw;
    

  }
.resume>h1{
  margin-top: 3svw;

}
.resume .edu{
  padding-left: 3svw;
  margin-top: 3svw;
  position: relative;
  border-left: 1px solid #565656;


}
.circle{
 
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: #565656;
  left: -8px;
}
.org{
  padding-bottom:4vh;
}
.skills #introbtn{
  margin-left: 0px;
  height: 40px;
  margin-bottom: 20px;
}
.skills h1{
  margin-bottom: 20px;
}
.col img{
  height: 5rem;
width: 5rem;
}
.col{
  font-size: larger;
  font-weight: 600;
  display: flex;
  
  width: 100px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: column;
  align-items: center;
  background: aliceblue;
  color: black;
  border: 2px solid white;
  border-radius: 25px;
}

.contact>.row>.col>a{
  background-color:rgb(243, 243, 243);
  text-align: center;
  text-decoration: none;
  color: black;
  
}
.contact #introbtn{
  margin-left: 0px;
  height: 40px;
  margin-bottom: 20px;
}